@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'nexa-heavy';
  src: url('./assets/fonts/Nexa-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CreatoDisplay-MediumItalic';
  src: url('./assets/fonts/CreatoDisplay-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #050505;
  color: #F5F5F7;
}

body {
  font-family: 'CreatoDisplay-MediumItalic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'nexa-heavy', sans-serif;
}